* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:#129e80 linear-gradient(to right, #1d6285 ,#129e80);
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.app {

  background:linear-gradient(to right, #1d6285 ,#129e80, #1d6285);

}

.app .todos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 50vh;
  overflow-y: scroll;

}
/* .app .todos::-webkit-scrollbar {
  display: none;
} */
.app .todos .todo {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}
.app .todos .todo .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app .todos .todo .left p {
  margin-left: 3px;
  font-size: medium;
  font-weight: 700;
  font-style: normal;
  color: grey;
}


